d1{
    width:100px;/*Largura*/
    height:75px ;/*altura*/
    background-color:rgb(red, green, blue) ;/*cor de fundo*/
    color:rgb(red, green, blue) ;/*cor da letra*/
    border:5px solid rgb(red, green, blue);/*solid borda*/
    margin-left:auto ;/*margem automatica na esquerda*/
    margin-right:auto ;/*margem automatica na direira*/
    margin: top 30px ;
    transform:rotate(30deg) ;
    -ms-transform:rotate(30deg) ;/
    -webkit-transform:rotate(35deg) ;
}
d2{
    width:100px;/*Largura*/
    height:75px ;/*altura*/
    background-color:rgb(red, green, blue) ;/*cor de fundo*/
    color:rgb(red, green, blue) ;/*cor da letra*/
    border:5px solid rgb(red, green, blue);/**/
    margin-left:auto ;/*Largura*/
    margin-right:auto ;/*Largura*/
    margin: top 30px ;/*Largura*/
    transform:rotate(30deg) ;/*Largura*/
    -ms-transform:rotate(30deg) ;/*Largura*/
    -webkit-transform:rotate(35deg) ;/*Largura*/
}
d3[
    /*Modelbox - conteúdo, espaçamento, borda e margemn
]